* {
  box-sizing: border-box;
  font-family: "Inter";
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 1440px;
  height: 192px;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 1240px;
  height: 115px;
  padding: 0;
  margin: 0;
}
.header__container__search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
}
.header__container__search__products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  height: 60px;
  width: 559px;
  border: solid 1px;
  border-color: #F5F5F5;
  background-color: #F5F5F5;
  position: relative;
}
.header__container__search__products:hover {
  border-color: #C92071;
  transition: 0.2s;
}
.header__container__search__input {
  height: 60px;
  width: 559px;
  padding: 1rem;
  border: none;
  background-color: transparent;
  position: absolute;
  appearance: none;
  font-size: 16px;
  letter-spacing: 0.75px;
}
.header__container__search__input::placeholder {
  color: #474747;
}
.header__container__search__input:hover {
  color: #C92071;
}
.header__container__search__input:focus-visible {
  outline: none;
}
.header__container__search__icon {
  color: #474747;
  cursor: pointer;
  padding: 1rem;
  font-weight: 400px;
  font-size: 24px;
  opacity: 0.8;
  position: absolute;
  right: 5px;
}
.header__container__search__icon:hover {
  color: #C92071;
  transition: 0.2s;
}
.header__container__search__access {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 246px;
}
.header__container__search__access--light {
  color: #474747;
  font-size: 16px;
  letter-spacing: 0.75px;
  position: relative;
}
.header__container__search__access--light .active {
  color: #C92071;
}
.header__container__search__access--light .active:hover {
  color: #C92071;
}
.header__container__search__access--solid {
  width: 114px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #C92071;
  border: none;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.75px;
}
.header__container__menu {
  width: 430px;
  height: 29px;
}
.header__container__menu__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  letter-spacing: 0.75px;
  padding: 0;
}
.header__container__menu__navbar__item {
  color: #474747;
  position: relative;
  padding-bottom: 3px;
  font-size: 16px;
  letter-spacing: 0.75px;
}
.header__container__menu__navbar__item:hover {
  color: #C92071;
  font-weight: bold;
}
.header__container__menu__navbar__item:hover::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #C92071;
  position: absolute;
  bottom: 0;
  left: 0;
}

.active {
  color: #C92071;
  font-weight: bold;
}
.active::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #C92071;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1F1F1F;
  width: 1440px;
  height: 454px;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 218px;
}
.footer__container__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  width: 307px;
  height: 218px;
}
.footer__container__social__sobre {
  color: #fff;
  font-size: 16px;
}
.footer__container__social__media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 124.12px;
  gap: 2.19rem;
  padding: 0;
  margin: 0;
}
.footer__container__social__media__icon {
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
.footer__container__rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
}

.cardInformations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.cardInformations__title {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0;
}
.cardInformations__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 228px;
  padding: 0;
  margin: 0;
}

.card__item {
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
}
.card__item:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

hr {
  width: 90rem;
  height: 1px;
}

/*# sourceMappingURL=style.css.map */
