@use '../settings/_colors'
@use '../settings/_size'
@use '../settings/_spacing'
@use '../tools/_mixins'

.header 
    @include mixins.flex($direction: column, $j-content: space-evenly, $a-items: center)
    width: 1440px
    height: 192px
    background-color: colors.$zero-color 
    &__container
        @include mixins.flex($direction: column, $j-content: space-between, $a-items: flex-start)
        width: 1240px
        height: 115px
        padding: 0
        margin: 0

        &__search 
            @include mixins.flex(row, space-between, center)
            width: 1240px
            &__products
                @include mixins.flex(row, space-around, center)
                border-radius: size.$border-radius-8
                height: 60px
                width: 559px
                border: solid 1px
                border-color: colors.$light-gray-3-color
                background-color: colors.$light-gray-3-color
                position: relative
                &:hover
                    border-color: colors.$primary-color
                    transition: 0.2s
                
    
            &__input
                height: 60px
                width: 559px
                padding: 1rem
                // margin: 1rem 
                border: none
                background-color: transparent
                position: absolute
                appearance: none
                font-size: spacing.$font-16
                letter-spacing: spacing.$letter-spacing
                &::placeholder
                    color: colors.$dark-gray-2-color
                &:hover
                    color: colors.$primary-color
                &:focus-visible 
                    outline: none
                
            
            &__icon
                color: colors.$dark-gray-2-color
                cursor: pointer
                padding: 1rem
                font-weight: 400px
                font-size: 24px
                opacity: 0.8
                position: absolute
                right: 5px

                &:hover
                    color: colors.$primary-color
                    transition: 0.2s
                
            

            &__access
                @include mixins.flex(row, space-around, center)
                width: 246px
                &--light
                    color: colors.$dark-gray-2-color
                    font-size: spacing.$font-16
                    letter-spacing: spacing.$letter-spacing
                    position: relative
                    &:hover
                         color: colors.$primary-color   
                
                &--solid
                    width: 114px
                    height: 40px
                    @include mixins.flex(row, center, center)
                    background-color: colors.$primary-color
                    border: none
                    border-radius: size.$border-radius-8
                    font-size: spacing.$font-14
                    font-weight: bold
                    letter-spacing: spacing.$letter-spacing
                    &:hover
                        @include mixins.buttonsEffect(colors.$primary-color)
                    
                 
        
        &__menu
            width: 430px
            height: 29px
            &__navbar
                @include mixins.flex(row, space-between, center)
                gap:32px
                font-size: spacing.$font-16
                letter-spacing: spacing.$letter-spacing
                padding:0
                &__item
                    color: colors.$dark-gray-2-color
                    position: relative
                    padding-bottom: 3px
                    font-size: spacing.$font-16
                    letter-spacing: spacing.$letter-spacing
                    &:hover
                        color: colors.$primary-color
                        font-weight: bold
                        &::before
                            content: " "
                            width: 100%
                            height: 2px
                            background-color: colors.$primary-color 
                            position: absolute
                            bottom: 0
                            left: 0
                            
                        
                
                
            
        
